@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');


/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; font-family: 'Noto Sans KR', sans-serif;}
.wrapper {width: 1368px; margin: auto;}


/********************** header-wrapper *********************/
.header-wrapper {padding-top: 1em; border-bottom: 1px solid #ccc;}

.top-wrapper {display: flex; justify-content: space-between; margin-bottom: 1em;}
.top-wrapper .top-wrap {display: flex; align-items: center; cursor: pointer;}
.top-wrapper .top-wrap .notice-bullet {color: #0096FF; margin-right: 0.5em;}
.top-wrapper .top-wrap .notice-title {font-weight: 300;}
.top-wrapper .top-wrap > i {margin-left: 0.5em; font-size: 0.75em;}
.top-wrapper .player-wrap .fa {color: #ccc; cursor: pointer;}
.top-wrapper .player-wrap .fa:nth-child(1) {color: #0096FF;}
.top-wrapper .player-wrap .fa:nth-child(2) {margin: 0 0.25em;}

.search-wrapper {padding: 1em 0;}
.search-wrapper .search-wrap {display: flex; justify-content: center; align-items: center;}
.search-wrapper .search-wrap .logo {width: 120px;}
.search-wrapper .search-wrap .search {display: flex; justify-content: space-between; align-items: center;
	width: 500px; padding: 0.25em 0; margin: 0 2em; border-bottom: 2px solid #0096FF;}
.search-wrapper .search-wrap .search i {color: #0096FF; font-size: 1.25em;}
.search-wrapper .search-wrap i {color: #0096FF; font-size: 2em; cursor: pointer;}

.navi-wrapper {position: relative; z-index: 999;}
.navi-wrapper .navi-wrap {display: flex; justify-content: center; text-align: center;}
.navi-wrapper .navi-wrap .navi {padding: 1em; width: 170px;}
.navi-wrapper .navi-wrap .navi:hover {color: #0096FF;}

.navi-wrapper .sub-wrapper {width: 100%; height: 310px; position: absolute; display: flex;
	justify-content: center; background-color: #fff; border-top: 1px solid #ccc;}
.navi-wrapper .sub-wrapper .sub-wrap {width: 170px; text-align: center; padding: 1em 0;}
.navi-wrapper .sub-wrap .sub {padding: 0.5em; font-weight: 300;}
.navi-wrapper .sub-wrap .sub:hover {background-color: #eee;}


/********************** banner *********************/
.banner-container {background-color: #e8eef3;}
.banner-container .slide-stage {display: flex; justify-content: center;}
.banner-container .slide-stage .slide-wrap {position: relative; }
.banner-container .slide-stage .slide-wrap .slide {position: absolute;}


/********************** main-wrapper *********************/
.main-wraaper {background-color: gray; height: 400px;}


/********************** editor-wrapper *********************/
.editor-wrapper {background-color: gray; height: 400px;}


/********************** tv-wrapper *********************/
.tv-wrapper {background-color: gray; height: 400px;}


/********************** footer *********************/
.menu-wrapper,.footer-wrapper {font-weight: 300; font-size: 0.875em;}

.menu-wrapper {border-bottom: 1px solid #eee; border-bottom: 1px solid #444}
.menu-wrapper .menu-wrap {display: flex; justify-content: space-between; align-items: center;}
.menu-wrapper .menu-wrap .menu {display: flex;}
.menu-wrapper .menu-wrap .menu li {padding: 0.7em .5em;}
.menu-wrapper .menu-wrap .menu li:hover {text-decoration: underline; cursor: pointer;}
.menu-wrapper .menu-wrap .menu li:nth-child(1) {padding-left: 0;}
.menu-wrapper .menu-wrap .menu li:last-child {font-weight: 500;}
.menu-wrapper .menu-wrap .sns {color: #bbb; font-size: 1.325em;}
.menu-wrapper .menu-wrap .sns i:nth-child(1){margin-right: .5em;}

.footer-wrapper {color: #777; padding-bottom: 2em;}
.footer-wrap .link-wrap {display: flex; flex-wrap: wrap; padding: 1.5em 0;}
.footer-wrap .link-wrap a {padding: 0 0.5em 0.5em;}
.footer-wrap .link-wrap a:hover {color: #222; text-decoration: underline;}
.footer-wrap .link-wrap span {padding: 0 0.5em 0.5em;}
.footer-wrap .info-company {display: flex;}
.footer-wrap .info-company .logo-company {margin-right: 1em;}
.footer-wrap .info-cnt {display: flex; flex-wrap: wrap;}
.footer-wrap .info-wrap .cnt {padding-bottom: .5em;}
.footer-wrap .info-wrap .cnt a {color: #222;}
.footer-wrap .info-wrap .cnt a:hover {text-decoration: underline;}
.footer-wrap .info-wrap span {padding: 0 .5em .75em;}

.emblem-wrapper {padding-top: 2em;}
.emblem-wrapper .emblem-wrap {display: flex; justify-content: space-around;}


/********************** player-wrapperr *********************/

.player-wrapper {position: fixed; z-index: 100; width: 100%; left: 0; bottom: 0;
	background: rgba(0, 0, 0, .7); backdrop-filter: blur(6px); padding: 1em 0; color: #fff;}
.player-wrapper .player {display: flex; justify-content: center; align-items: center;}
.player-wrapper .player .music {display: flex; align-items: center;}
.player-wrapper .player .music .album {margin-right: 1.5em;}
.player-wrapper .player .play {margin: 0 3em;}
.player-wrapper .player .play div:nth-child(1){width: 300px; border: 1px solid #fff;}
.player-wrapper .play-ctrl {font-size: 1.75em; cursor: pointer;}
.player-wrapper .play-ctrl .bi:hover {color: #0096FF;}


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	.wrapper {width: calc(100% - 2rem);}
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 575px) {
	
}