@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');


/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; font-family: 'Noto Sans KR', sans-serif;  position: relative;}
.wrapper {width: 1368px; margin: 0 auto;}
.wrapper2 {width: 1168px; margin: 0 auto;}

h2.title {font-size: 1.25em;}
.bt-more { padding: 0.75em 3em; border: 2px solid #0096FF; color: #0096FF; display:block; margin:auto}
.bt-more:hover {background-color: #0096FF; color: #fff;}


/********************** header-wrapper *********************/
.top-wrapper {display: flex; justify-content: space-between; padding: 1em 0;}
.top-wrapper .top-wrap {display: flex; align-items: center; cursor: pointer;}
.top-wrapper .top-wrap .notice-bullet {color: #0096FF; margin-right: 0.5em;}
.top-wrapper .top-wrap .notice-title {font-weight: 300;}
.top-wrapper .top-wrap .notice-title:hover {text-decoration: underline;}
.top-wrapper .top-wrap > i {margin-left: 0.5em; font-size: 0.75em;}
.top-wrapper .player-wrap .fa {color: #ccc; cursor: pointer;}
.top-wrapper .player-wrap .fa:nth-child(1) {color: #0096FF;}
.top-wrapper .player-wrap .fa:nth-child(2) {margin: 0 0.25em;}

.search-wrapper {padding: 1em 0; border-bottom: 1px solid #ccc;}
.search-wrapper .search-wrap {display: flex; justify-content: center; align-items: center;}
.search-wrapper .search-wrap .logo {width: 120px;}
.search-wrapper .search-wrap .search {display: flex; justify-content: space-between; align-items: center;
	width: 500px; padding: 0.25em 0; margin: 0 2em; border-bottom: 2px solid #0096FF;}
.search-wrapper .search-wrap .search i {color: #0096FF; font-size: 1.25em;}
.search-wrapper .search-wrap i {color: #0096FF; font-size: 2em; cursor: pointer;}

.navi-wrapper {position: relative; z-index: 999; border-bottom: 1px solid #ccc;}
.navi-wrapper .navi-wrap {display: flex; justify-content: center; text-align: center;}
.navi-wrapper .navi-wrap .navi {padding: 1em; width: 170px;}
.navi-wrapper .navi-wrap .navi:hover {color: #0096FF;}

.navi-wrapper .sub-container {width: 100%; position: absolute; display: none;}
.navi-wrapper .sub-wrapper {display: flex;
	justify-content: center; background-color: #fff; border-top: 1px solid #ccc;}
.navi-wrapper .sub-wrapper .sub-wrap {width: 170px; text-align: center; padding: 1em 0;}
.navi-wrapper .sub-wrap .sub {padding: 0.5em; font-weight: 300;}
.navi-wrapper .sub-wrap .sub:hover {background-color: #eee;}


/********************** recent-wrapper *********************/
.recent-wrapper .slide-stage {overflow: hidden;}
.recent-wrapper .slide-stage .slide-wrap {position: relative; min-height: 50vh; overflow: hidden;}
.recent-wrapper .slide-wrap .slide {position: absolute; height: 100%;  width: 100%; background-position: center;
	background-size: cover;}
.recent-wrapper .slide-wrap .img-guide {position: relative; min-height: 50vh; margin: auto; display: block; min-width: 100%;}

.bt-angle {font-size: 6em; position: absolute; top: 50%; transform: translateY(-50%);
	cursor: pointer; color: #fff; opacity: .3; transition: all .5s; z-index: 999;}
.bt-angle:hover {opacity: 1;}
.bt-angle.bt-prev {left: 0;}
.bt-angle.bt-next {right: 0;}


/********************** chart-wrapper *********************/
.chart-container {padding: 0;}
.chart-container .chart-stage {padding: 3em 0; display: flex;}
.chart-stage .chart-wrapper {width: 150%; margin-right: 2em;}
.chart-wrapper .titile-wrap {display: flex; justify-content: space-between;align-items: center; padding: 1em;}
.chart-wrapper .titile-wrap .times {color: #888; font-size: 0.875em; font-weight: 300;}
.chart-wrapper .chart-wrap { border-top: 1px solid #222;}
.chart-wrapper .chart-wrap .chart {padding: 0.75em; display: flex; justify-content: space-around;
	align-items: center; border-bottom: 1px solid #eee;}
.chart-wrapper .chart-wrap .chart:hover {background-color: #eee;}
.chart-wrapper .chart-wrap div {text-align: center;}
.chart-wrapper .chart-wrap div:nth-child(1) {width: 5%;}
.chart-wrapper .chart-wrap div:nth-child(2) {width: 15%;}
.chart-wrapper .chart-wrap div:nth-child(3) {width: 50%;}
.chart-wrapper .chart-wrap div:nth-child(4) {width: 30%;}


/********************** banner-wrapper *********************/
.banner-container {background-color: #e8eef3; margin: 3em 0; display: flex; justify-content: center; align-items: center;}
.banner-container .swiper-container {width: 50%;	height: 100%; margin: 0;}
.banner-container .banner-swiper-pagination {display: flex; justify-content: center; padding-bottom: 0.5em;}

/********************** editor-wrapper *********************/
.editor-wrapper {padding: 3em 0;}
.editor-wrapper .editor {border: 1px solid #ccc; width: 25%; margin: 0 1em;	color: #666; font-weight: 300;}
.editor-wrapper .editor .cnt {padding: 1em;}
.editor-wrapper .editor .title {color: #111; font-weight: 500; padding: 1em 0 2em;}


/********************** tv-wrapper *********************/
.tv-container {padding: 3em 0;}
.tv-container .tv-wrapper .tv-wrap {display: flex; justify-content: space-between; padding: 1em 0;}
.tv-container .tv-wrap .tv {background-color: #eee; margin: 1%; width: 25%;}
.tv-container .tv-wrap .tv:nth-child(1) {margin-left: 0em;}
.tv-container .tv-wrap .tv:nth-child(4) {margin-right: 0em;}
.tv-container .tv-wrap .youtb {width: 100%;}
.tv-container .tv-wrap .youtb iframe {width: 100%;}
.tv-container .tv-wrap .tv .cnt {padding: 1em; font-weight: 300; color: #666;}
.tv-container .tv-wrap .tv .cnt .sub-title {display: inline-block; background-color: #0096FF;
	border-radius: 2px; font-size: 0.75em; padding: 0.25em; color: #fff;}
.tv-container .tv-wrap .tv .cnt .title {color: #111; font-weight: 500; padding: 1em 0 2em;}


/********************** footer *********************/
.menu-wrapper {margin-top: 3em;}
.menu-wrapper, .footer-wrapper {font-weight: 300; font-size: 0.875em;}

.menu-wrapper {border-top: 1px solid #eee; border-bottom: 1px solid #444}
.menu-wrapper .menu-wrap {display: flex; justify-content: space-between; align-items: center;}
.menu-wrapper .menu-wrap .menu {display: flex;}
.menu-wrapper .menu-wrap .menu li {padding: 0.7em .5em;}
.menu-wrapper .menu-wrap .menu li:hover {text-decoration: underline; cursor: pointer;}
.menu-wrapper .menu-wrap .menu li:nth-child(1) {padding-left: 0;}
.menu-wrapper .menu-wrap .menu li:last-child {font-weight: 500;}
.menu-wrapper .menu-wrap .sns {color: #bbb; font-size: 1.325em;}
.menu-wrapper .menu-wrap .sns i:hover{color: #555; cursor: pointer;}
.menu-wrapper .menu-wrap .sns i:nth-child(1){margin-right: .5em;}

.footer-wrapper {color: #777; padding-bottom: 2em;}
.footer-wrap .link-wrap {display: flex; flex-wrap: wrap; padding: 1.5em 0;}
.footer-wrap .link-wrap a {padding: 0 0.5em 0.5em;}
.footer-wrap .link-wrap a:hover {color: #222; text-decoration: underline;}
.footer-wrap .link-wrap span {padding: 0 0.5em 0.5em;}
.footer-wrap .info-company {display: flex;}
.footer-wrap .info-company .logo-company {margin-right: 1em;}
.footer-wrap .info-cnt {display: flex; flex-wrap: wrap;}
.footer-wrap .info-wrap .cnt {padding-bottom: .5em;}
.footer-wrap .info-wrap .cnt a {color: #222;}
.footer-wrap .info-wrap .cnt a:hover {text-decoration: underline;}
.footer-wrap .info-wrap span {padding: 0 .5em .75em;}

.emblem-wrapper {padding-top: 2em;}
.emblem-wrapper .emblem-wrap {display: flex; justify-content: space-around;}


/********************** player-wrapperr *********************/
.player-wrapper {position: fixed; z-index: 100; width: 100%; left: 0; bottom: 0;
	background: rgba(0, 0, 0, .7); backdrop-filter: blur(6px); padding: 1em 0; color: #fff;}
.player-wrapper .player {display: flex; justify-content: center; align-items: center;}
.player-wrapper .player .music {display: flex; align-items: center;}
.player-wrapper .player .music .album {margin-right: 1.5em;}
.player-wrapper .player .play {margin: 0 3em;}
.player-wrapper .player .play div:nth-child(1){width: 300px; border: 1px solid #fff;}
.player-wrapper .play-ctrl {font-size: 1.75em; cursor: pointer;}
.player-wrapper .play-ctrl .bi:hover {color: #0096FF;}

.player-wrapper .bi-pause-fill {display: none;}


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	.wrapper {width: calc(100% - 2rem);}
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	.slide-wrap-right {display: none;}
	.chart-wrapper.week {display: none;}
	.player-wrapper {display: none;}

	.tv-wrapper .tv {width: 33.3333%;}
	.tv-wrapper .tv:nth-child(4) {display: none;}
}

@media (max-width: 767px) {
	.tv-wrapper .tv {width: 50%;}
	.tv-wrapper .tv:nth-child(3) {display: none;}
}

@media (max-width: 575px) {
	
}