@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');


/********************** 글로벌 설정 *********************/
html, body {font-size: 16px; font-family: 'Noto Sans KR', sans-serif;  position: relative;}
.wrapper {width: 1368px; margin: 0 auto;}
.wrapper2 {width: 1168px; margin: 0 auto;}

h2.title {font-size: 1.25em;}
.bt-more {width: 100%; text-align: center; margin: 2em 0;}
.bt-more > a {padding: 0.75em 3em; border: 2px solid #0096FF; color: #0096FF;}
.bt-more > a:hover {background-color: #0096FF; color: #fff;}


/********************** header-wrapper *********************/
.header-wrapper {position: relative; z-index: 99;}
.header-wrapper .icon-wrap {display: flex;}
.header-wrapper .icon-wrap .fa-bars {margin-left: .5em; display: none;}
.header-wrapper .top-wrapper {background-color: #ecf8ff;}
.top-wrapper .top-wrap {display: flex; justify-content: space-between; padding: 1em 0;}
.top-wrapper .top-wrap .close:hover {background-color:#fff;}
.top-wrapper .top-wrap .notice-wrap {display: flex;}
.top-wrapper .top-wrap .notice-bullet {color: #0096FF; margin-right: 0.5em;}
.top-wrapper .top-wrap .notice-title {font-weight: 300;}
.top-wrapper .top-wrap .notice-title:hover {text-decoration: underline;}
.top-wrapper .top-wrap > i {margin-left: 0.5em; font-size: 0.75em;}
.top-wrapper .player-wrap .fa {color: #ccc; cursor: pointer;}
.top-wrapper .player-wrap .fa:nth-child(1) {color: #0096FF;}
.top-wrapper .player-wrap .fa:nth-child(2) {margin: 0 0.25em;}
.search-wrapper {padding: 2em 0;}
.search-wrapper .search-wrap {display: flex; justify-content: center; align-items: center;}
.search-wrapper .search-wrap .logo {width: 120px;}
.search-wrapper .search-wrap .m-logo {width: 16px; display: none;}
.search-wrapper .search-wrap .search {display: flex; justify-content: space-between; align-items: center;
	width: 500px; padding: 0.25em 0; margin: 0 2em; border-bottom: 2px solid #0096FF;}
.search-wrapper .search-wrap .search i {color: #0096FF; font-size: 1.25em;}
.search-wrapper .search-wrap i {color: #0096FF; font-size: 2em; cursor: pointer;}

.navi-wrapper {position: relative; border-top: 1px solid #ccc; z-index: 999; width: 100%;}
.navi-wrapper .navi-wrap {display: flex; justify-content: center; text-align: center;}
.navi-wrapper .navi-wrap .navi > a {padding: 1em; width: 170px;}
.navi-wrapper .navi-wrap .navi:hover {color: #0096FF;}
.navi-wrapper .sub-container {width: 100%; position: absolute; z-index: 999;box-shadow: 5px 5px 5px rgba(0, 0, 0, .25);}
.navi-wrapper .sub-wrapper {display: flex; justify-content: center; background-color: #fff; border-top: 1px solid #ccc;}
.navi-wrapper .sub-wrapper .sub-wrap {width: 170px; text-align: center; padding: 1em 0;}
.navi-wrapper .sub-wrap .sub {padding: 0.5em; font-weight: 300;}
.navi-wrapper .sub-wrap .sub:hover {background-color: #eee;}

.m-navi-wrapper {background-color: #fff; box-shadow: 5px 5px 5px rgba(0, 0, 0, .5); width: 100%;
	position: absolute; display: none; z-index: 999; display: none;}
.m-navi-wrapper .m-navi-wrap .m-navi > a {padding: 1em; color:#0096FF; width: 100%; background-color: #fff;
border-bottom: 1px solid #ccc; display: flex; justify-content: space-between;}
.m-navi-wrapper .m-navi-wrap .m-navi i {color: #555;}
.m-navi-wrapper .m-navi-wrap .m-navi.active i {transform: rotate(180deg);}
.m-navi-wrapper .m-navi-wrap .m-sub-wrap .sub {padding: 1em; font-weight: 300; background-color: #eee;
	border-bottom: 1px solid #ddd;}


/********************** recent-wrapper *********************/
.recent-wrapper .slide-stage {overflow: hidden; position: relative; z-index: 9;}
.recent-wrapper .slide-stage .slide-wrap {position: relative; min-height: 50vh; overflow: hidden;}
.recent-wrapper .slide-wrap .slide {position: absolute; height: 100%;  width: 100%; background-position: center; background-size: cover;}
.recent-wrapper .slide-wrap .img-guide {position: relative; min-height: 50vh; margin: auto; display: block; min-width: 100%;}
.recent-wrapper .bt-angle {font-size: 6em; position: absolute; top: 50%; transform: translateY(-50%); cursor: pointer; color: #fff; opacity: .3; transition: all .5s; z-index: 999;}
.recent-wrapper .bt-angle:hover {opacity: 1;}
.recent-wrapper .bt-angle.bt-prev {left: 0;}
.recent-wrapper .bt-angle.bt-next {right: 0;}


/********************** chart-wrapper *********************/
.chart-container {padding: 3em 0;}
.chart-container .chart-stage {display: flex;}
.chart-container .chart-stage .chart-wrapper {width: 150%;}
.chart-container .chart-wrapper.week {margin-left: 2em;}
.chart-container .chart-wrapper .title-wrap {display: flex; justify-content: space-between; align-items: center; padding: 0.75em 0;  border-bottom: 1px solid #222;}
.chart-container .chart-wrapper .title-wrap .times {color: #888; font-size: 0.875em; font-weight: 300;}
.chart-container .chart-wrapper .chart-wrap {width: 100%;}
.chart-container .chart-wrapper .chart-wrap .chart {padding: 0.75em; display: flex; justify-content: space-around;align-items: center; border-bottom: 1px solid #eee;}
.chart-container .chart-wrap .chart:hover {background-color: #eee;}
.chart-container .chart-wrap div {text-align: center;}
.chart-container .chart-wrap div:nth-child(1) {width: 5%;}
.chart-container .chart-wrap div:nth-child(2) {width: 15%;}
.chart-container .chart-wrap div:nth-child(3) {width: 50%;}
.chart-container .chart-wrap div:nth-child(4) {width: 30%;}


/********************** banner-wrapper *********************/
.banner-container {background-color: #e8eef3; display: flex; justify-content: center; align-items: center;}
.banner-container .swiper-container {width: 35%; margin: 0;}
.banner-container .banner-swiper-pagination {display: flex; justify-content: center; padding: 0.5em 0;}


/********************** editor-wrapper *********************/
.editor-wrapper {padding: 3em 0;}
.editor-wrapper .swiper-container {width: 100%; height: 100%; padding: 1em 0;}
.editor-wrapper .swiper-container .editor {width: 25%; height: 100%; border: 1px solid #ccc; margin: 0 1em;	color: #666; font-weight: 300;}
.editor-wrapper .swiper-container .editor .cnt {padding: 1em;}
.editor-wrapper .swiper-container .editor .title {color: #111; font-weight: 500; padding: 1em 0 2em;}
.editor-wrapper .swiper-btn {margin: 0; padding: 0;}


/********************** tv-wrapper *********************/
.tv-container {background-color: #e8eef3; padding: 3em 0;}
.tv-container .tv-wrapper .tv-wrap {display: flex; justify-content: space-between; padding: 1em 0;}
.tv-container .tv-wrap .tv {background-color: #fff; margin: 1%; width: 25%;}
.tv-container .tv-wrap .tv:nth-child(1) {margin-left: 0em;}
.tv-container .tv-wrap .tv:nth-child(4) {margin-right: 0em;}
.tv-container .tv-wrap .youtb,
.tv-container .tv-wrap .youtb iframe {width: 100%;}
.tv-container .tv-wrap .tv .cnt {padding: 1em; font-weight: 300; color: #666;}
.tv-container .tv-wrap .tv .cnt .sub-title {display: inline-block; background-color: #0096FF;	border-radius: 2px; font-size: 0.75em; padding: 0.25em; color: #fff;}
.tv-container .tv-wrap .tv .cnt .title {color: #111; font-weight: 500; padding: 1em 0 2em;}


/********************** footer *********************/
.footer-wrapper {color: #777; font-weight: 300;}
.footer-wrapper .menu-wrapper {border-top: 1px solid #eee; border-bottom: 1px solid #444}
.footer-wrapper .menu-wrapper .menu-wrap { display: flex; justify-content: space-between; align-items: center;}
.footer-wrapper .menu-wrap .menu {display: flex; padding: 0}
.footer-wrapper .menu-wrap .menu li {padding: 0.7em .5em;}
.footer-wrapper .menu-wrap .menu li:hover {text-decoration: underline; cursor: pointer;}
.footer-wrapper .menu-wrap .menu li:nth-child(1) {padding-left: 0;}
.footer-wrapper .menu-wrap .menu li:last-child {font-weight: 500;}
.footer-wrapper .menu-wrap .sns {color: #bbb; font-size: 1.325em;}
.footer-wrapper .menu-wrap .sns i:hover{color: #555; cursor: pointer;}
.footer-wrapper .menu-wrap .sns i:nth-child(1){margin-right: .5em;}
.footer-wrapper .link-wrap {display: flex; flex-wrap: wrap; padding: 1.5em 0;}
.footer-wrapper .link-wrap a {padding: 0 0.5em 0.5em;}
.footer-wrapper .link-wrap a:hover {color: #222; text-decoration: underline;}
.footer-wrapper .link-wrap span {padding: 0 0.5em 0.5em;}
.footer-wrapper .info-company {display: flex;}
.footer-wrapper .info-company .logo-company {margin-right: 1em;}
.footer-wrapper .info-cnt {display: flex; flex-wrap: wrap;}
.footer-wrapper .info-wrap .cnt {padding-bottom: .5em;}
.footer-wrapper .info-wrap .cnt a,
.footer-wrapper .info-wrap .copyright {font-weight: 400;}
.footer-wrapper .info-wrap .cnt a:hover {text-decoration: underline;}
.footer-wrapper .info-wrap span {padding: 0 .5em .75em;}

.emblem-wrapper {padding: 2em 0;}
.emblem-wrapper .emblem-wrap {display: flex; justify-content: space-around; flex-wrap: wrap;}


/********************** player-wrapperr *********************/
.player-wrapper {display: flex; align-items: center; justify-content: center;
	position: fixed; z-index: 100; width: 100%; left: 0; bottom: 0; padding: 1em 0;
	background: rgba(0, 0, 0, .7); backdrop-filter: blur(6px); color: #fff;}
.player-wrapper .player-wrap {display: flex; align-items: center; justify-content: center;}
.player-wrapper .player-wrap .player {display: flex; align-items: center;}
.player-wrapper .player-wrap .album-wrap {display: flex; align-items: center;}
.player-wrapper .player-wrap .album-wrap .album {margin-right: 1.5em;}
.player-wrapper .player-wrap .line {border: 1px solid #fff; min-width: 300px; margin: 0 2em;}
.player-wrapper .player-wrap .play-ctrl {display: flex; align-items: center; font-size: 1.75em; cursor: pointer;}
.player-wrapper .player-wrap .play-ctrl .bi:hover {color: #0096FF;}
.player-wrapper .bt-close {font-size: 1.5em;}
.player-wrapper .bt-close:hover {background-color: rgba(255, 255, 255, .5);}

.player-wrapper .bi-pause-fill {display: none;}


/********************** 반응형 설정 *********************/
@media (max-width: 1399px) {
	.wrapper {width: calc(100% - 2rem);}
	.wrapper2 {width: calc(100% - 2rem);}
}

@media (max-width: 1199px) {
	.navi-wrapper .navi-wrap .navi > a,
	.navi-wrapper .sub-wrapper .sub-wrap {width: 150px;}
	.banner-container {width: 100%;}
	.banner-container .swiper-container {width: 50%;}
	.tv-container .tv-wrapper .tv-wrap .tv {width: 100%;}
	.tv-container .tv-wrapper .tv-wrap .tv:last-child {display: none;}
}

@media (max-width: 991px) {
	.header-wrapper {width: 100%;}
	.header-wrapper .icon-wrap {font-size: 0.75em;}
	.navi-wrapper .navi-wrap .navi > a,
	.navi-wrapper .sub-wrapper .sub-wrap {width: 110px;}
	.chart-container .chart-wrapper.week {display: none;}
	.banner-container {margin: 0;}
	.banner-container .swiper-container {width: 85%;}
	
}

@media (max-width: 767px) {
	.player-wrapper {display: none;}
	.header-wrapper .top-wrap .notice-bullet span {display: none;}
	.header-wrapper .search-wrapper {width: 100%;}
	.header-wrapper .search-wrapper .logo-wrap .logo {display: none;}
	.header-wrapper .search-wrapper .logo-wrap .m-logo {display: block;}
	.header-wrapper .search-wrapper .icon-wrap .fa-bars {display: block;}
	.header-wrapper .search-wrapper .search {width: 70%; margin: 0 0.5em;}
	.header-wrapper .navi-wrapper {display: none;}
	.m-navi-wrapper {display: block;}
}

@media (max-width: 575px) {
	.chart-container .chart-wrapper .chart-wrap {font-size: 0.75em;}
	.banner-container .slide-wrapper-right {display: none;}
	.banner-container .swiper-container {width: 100%;}
	.banner-container .swiper-container .swiper-slide img {width: 110%;}
	.tv-container .tv-wrapper .tv-wrap .tv {width: 75%; margin: 0 auto;}
	.tv-container .tv-wrapper .tv-wrap .tv:not(:first-child) {display: none;}
	.footer-wrapper .menu-wrap .menu li:not(:last-child) {display: none;}
	.footer-wrapper .footer-wrap .info-company {display: block;}
	.footer-wrapper .footer-wrap .info-company .info-cnt {padding: 1em 0;}
	.footer-wrapper .info-company .info-wrap span {display: none;}
}